.about_us {
    margin-bottom: 33px;

    border-bottom: 1px solid #E8EDF2;
}

.about_us__title {
    margin-bottom: 13px;
}
.about_us__subtitle {
    margin-bottom: 34px;
}

.about_us__content {
    padding: 0 5px 40px;
}
