footer {
    padding: 20px 0 25px;


    font-family: 'Roboto', sans-serif;

    background: url(../img/Products/noise.png), #F7F7F7;
    box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.05);
}

.footer__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo__text {
    padding-top: 10px;
}

.footer__text p {
    padding-top: 14px;
    width: 300px;
    text-align: left;
}

.footer__menu {
    max-width: 365px;
    display: flex;
    flex-wrap: wrap;
}

.footer__menu-item {
    width: 50%;
    display: block;
    padding-top: 11px;

    & a {
        color: #3A4047;
    }
}

.contacts-phones--footer {
    padding-top: 10px;
}

.footer__arrow {
    margin: 0 0 0 5px;
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url("../img/icons/Group 2.1.png") no-repeat center bottom;

    transform: rotateX(180deg);
    position: relative;
    top: 3px;
}

.contacts-phones__block--footer {
    top: unset;
    bottom: 172%;
}

.contacts-phones__list--footer {
    &:before {
        bottom: -2%;
    }
}

.footer__contacts-link {
    padding-top: 14px;
    text-align: right;
}

.footer__contacts-link a {
    color: #3A4047;
}

.footer__glyanec {
    padding-top: 35px;
    width: 153px;
    float: right;

    color: #3A4047;
    font-size: 11px;
    line-height: 1.2;
    text-align: right;
    font-family: 'Cuprum', sans-serif;
    text-transform: uppercase;

    background: url("../img/icons/Glyanec.png") no-repeat left bottom;
}



@media (max-width: 1200px) {
   .footer__inner {
       justify-content: space-around;
   }
}

@media (max-width: 992px) {
    .footer__text p {
        width: 258px;
        text-align: left;
    }
}

@media (max-width: 768px) {
    .footer__menu {
        max-width: 300px;
    }
}

@media (max-width: 576px) {
    .footer__menu {
        max-width: 258px;
    }

    .footer__contacts-link {
        text-align: center;
    }

    .footer__glyanec {
        padding-top: 15px;
        margin: 0 auto;
        width: 153px;
        float: none;
        text-align: right;
    }
}