.header {
    display: flex;
    justify-content: space-between;
    padding: 19px 0 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.header__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.header__text {
    padding-top: 5px;
}

.header__text p{
    max-width: 360px;
    text-align: center;
}

.header__slogan {
    font-size: 16px;
    line-height: 19px;
}

.header__work-time {
    font-weight: 600;
}


.header__contacts {
    padding-top: 10px;
}

.contacts-links__office {
    padding-left: 20px;
    background: url("../img/icons/user.png") no-repeat center left;

    margin-right: 65px;
}

.contacts-phones {
    padding-top: 20px;

    display: flex;
    justify-content: flex-end;

    position: relative;
}

.contacts-phones__facebook {
    margin-right: 20px;
}

.contacts-phones__tel {
    position: relative;

    padding-left: 30px;
    background: url("../img/icons/Handset.png") no-repeat center left;



    &:hover .contacts-phones__block {
        display: block;
    }
}

.contacts-phones__tel a {
    font-size: 16px;
    text-align: right;
    font-weight: 600;
    color: #3A4047;
    text-decoration: none;
}

.header__arrow {
     margin: 0 0 0 5px;
     display: inline-block;
     width: 20px;
     height: 20px;
     background: url("../img/icons/Group 2.png") no-repeat center bottom;

     position: relative;
     top: 3px;
 }

.contacts-phones__block {
    position: absolute;
    white-space: nowrap;
    display: none;
    z-index: 20;
    right: -20px;
    top: 30%;
    min-width: 219px;
    line-height: 1.2;
    padding: 35px 0 0;


}

.contacts-phones__list {
    padding: 20px 20px 20px 28px;

    background: #ffffff;
    filter: drop-shadow(0px 4px 45px rgba(0, 0, 0, 0.15));

    position: relative;

    &:before {
        content: '';
        width: 28px;
        height: 28px;
        background: white;

        transform: rotateZ(45deg);
        position: absolute;

        right: 16px;
        bottom: 86%;
    }
}

.contacts-phones__list-item {
    padding: 13px 0 12px  40px;

    font-size: 16px;

    & a {
        font-weight: 400;
    }
    &--vodafone {
        background: url("../img/icons/Vodafone.png") no-repeat center left;
    }

    &--kyivstar {
        background: url("../img/icons/Kyivstar.png") no-repeat center left;
    }
    &--life {
        background: url("../img/icons/lifecell.png") no-repeat center left;
    }
}

.header__cart {
    width: 85px;
    background: url("../img/icons/shopping-cart.png") no-repeat center left;

    position: relative;
    cursor: pointer;
}

.counter {
    width: 30px;
    height: 30px;

    color: #ffffff;
    text-align: center;
    line-height: 30px;
    vertical-align: center;

    background: #1AB0CE;
    border-radius: 100px;;

    position: absolute;
    left: 35px;
    top: 13px;
}

.call-me-now {
    position: fixed;

    right: 30px;
    bottom: 50px;

    width: 108px;
    height: 108px;
    border-radius: 50%;
    background: #1ab0ce;

    cursor: pointer;
    z-index: 1;

    &:before {
            pointer-events: none;
            content: '';
            position: absolute;
            z-index: -1;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: rgba(68, 207, 82, 0.12);
            border-radius: 50%;
            animation: pulse 2s infinite;
            backface-visibility: hidden;
    }
}

.call-me-now__text {
    padding-top: 50px;
    color: #ffffff;
    font-weight: 500;
    text-align: center;


    background: url("../img/icons/phone.png")no-repeat center 37%;
}

@keyframes pulse {
0% {
    transform: scale(1);
    opacity: 1;
    }
50% {
      opacity: 0.8;
    }
100% {
    transform: scale(1.4);
    opacity: 0;
    }
}



@media (max-width: 1200px) {
    .contacts-links {
        padding-right: 20px;
        text-align: center;
    }

    .contacts-links__office {
        margin: 0;
    }

    .contacts-links__mail {
        padding-top: 10px;
        display: block;
    }
}


@media (max-width: 992px) {

    .header__inner {
        justify-content: space-around;
    }

    .contacts-phones {
        padding-top: 5px;
    }

    .header__cart {
        display: none;
    }

    .call-me-now {
        width: 90px;
        height: 90px;

    }

    .call-me-now__text {
        background: none;
        padding-top: 30px;

        font-size: 12px;
    }

    .intro {
        padding-top: 100px;
    }
}

@media (max-width: 768px) {
    .intro {
        padding-top: 100px;
    }

    .contacts-phones {
        padding-top: 10px;
        padding-bottom: 10px;
    }

}

@media (max-width: 576px) {
    .header__slogan {
        font-size: 15px;
    }

    .call-me-now {
        width: 62px;
        height: 62px;

    }

    .call-me-now__text {
        background: none;
        padding-top: 21px;

        font-size: 9px;
    }

}