<header class="header">
	<div class="container">
		<div class="header__inner">
				<div class="Logo">
					<img src="assets/img/Logo.png" alt="Logo">
				</div>
				<div class="header__text">
					<p class="header__slogan">Качественная оперативная цифровая, широкоформатная и сувенирная
						полиграфия!</p>
					<p class="header__work-time">Работаем с 9 до 18, вс и сб выходные</p>
				</div>
				<div class="header__contacts">

					<div class="contacts-links">
						<a class="contacts-links__office" href="#">Личный кабинет</a>
						<a class="contacts-links__mail" href="mailto:maket@test-vertka.ua">maket@test-vertka.ua</a>
					</div>

					<div class="contacts-phones">
						<a class="contacts-phones__facebook" href="https://www.facebook.com/"><img
								src="assets/img/icons/Facebook.png" alt="Facebook"></a>
						<div class="contacts-phones__tel">
							<a class="contacts-phones__main-phone" href="tel:+380443454042">(044) 345-40-42</a>
							<span class="header__arrow"> </span>


							<div class="contacts-phones__block">
								<div class="contacts-phones__list">
									<div class="contacts-phones__list-item contacts-phones__list-item--vodafone">
										<a href="tel:+3800994455418">(099) 445-54-18</a>
									</div>
									<div class="contacts-phones__list-item contacts-phones__list-item--kyivstar">
										<a href="tel:+3800994455418">(096) 497-78-03</a>
									</div>
									<div class="contacts-phones__list-item contacts-phones__list-item--life">
										<a href="tel:+3800994455418">(063) 435-16-81</a>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
				<div class="header__cart">
					<a href="#"></a>
					<div class="counter">3</div>
				</div>
		</div>
	</div>
</header>

<nav class="nav-bar">
	<div class="container">
		<ul class="nav-bar__menu">
			<li class="nav-bar__item"><a class="nav-bar__link" href="#">Главная</a></li>
			<li class="nav-bar__item"><a class="nav-bar__link" href="#">Продукция</a></li>
			<li class="nav-bar__item"><a class="nav-bar__link" href="#">Доставка и оплата</a></li>
			<li class="nav-bar__item"><a class="nav-bar__link" href="#">Новости</a></li>
			<li class="nav-bar__item"><a class="nav-bar__link" href="#">База знаний</a></li>
			<li class="nav-bar__item"><a class="nav-bar__link" href="#">О нас</a></li>
			<li class="nav-bar__item"><a class="nav-bar__link" href="#">Контакты</a></li>
			<li class="nav-bar__item"><a class="nav-bar__link" href="#">
				<img class="search" src="assets/img/icons/search.png" alt="search" title="Поиск">
			</a></li>
		</ul>
	</div>
</nav>

<div class="call-me-now">
	<div class="call-me-now__text">Перезвоните мне сейчас!</div>
</div>

