body {
	margin: 0;

	font-family: 'Clear Sans', sans-serif;
	font-size: 14px;
	line-height: 1.2;
	color: #3A4047;
	-webkit-font-smoothing: antialiased;

	background: #ffffff;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

h1, h2, h3, h4 {
	margin: 0;
}

h1 {
	font-weight: normal;

	font-size: 36px;
	line-height: 42px;
	text-align: center;
}

h2 {
	font-weight: normal;

	font-size: 24px;
	line-height: 28px;
	text-align: center;
}

p {
	margin: 0 0 13px;
	line-height: 16px;
	text-align: justify;
}


/* Container
==================================*/
.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}





/* Fonts */
@import "fonts";

/* Blocks */
@import "blocks/header";
@import "blocks/nav-bar";
@import "blocks/intro";
@import "blocks/button";
@import "blocks/products";
@import "blocks/about_us";

@import "blocks/footer";